#page
{
font-size: 22px;
padding:20px;
}

h1
{
  font-size: 32px;
  text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  padding:16px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  text-align:center;
  margin:16px;
  background-image:url(1.jpg);  
}

#page #left {
    float:left;
    width:50%;
    padding:70px;
}

#page #right {
    margin-left:50%;
    padding:70px;
}

button
{
display:block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
color:grey;
}

input
{
padding:12px;
box-shadow:1px 1px 2px #C0C0C0 inset;
font-size: 22px;

}

