body{
	background-color:#15110C;
}

*{
	color:#ffffff;
	font-size: 14px;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	border:0;
}

p{
	font-size:14px;
	line-height:22px;
}

h1{
	font-size: 24px;
	font-weight:bold;
	text-transform: uppercase;
	padding-bottom: 20px; /*espace inferieure*/
}


h2{
	font-size: 20px;
	font-weight:bold;
	text-transform: uppercase;
}

h3{
	font-size:16px;
	font-weight:bold;
	text-transform: uppercase;
	line-height:30px;
}

a{
	color:#ff9900;
}

.in{
	width:900px;
	margin:auto; /* marge exterieure*/
}

div {
	position:relative;
}

ul, ol {
	list-style-position:inside;
}

#header .in{
	background-color: #1E1912;
	background-image:url("www-d.jpg");
	background-position: 30px 0px;

	background-repeat: no-repeat;
	}

#header .in a{
	display:block;
	padding-top:30px;
	padding-bottom:50px;
	color:white;
	font-weight: bold;
	text-decoration: none;
	text-align:center;
	font-size:20px;
	color:orange;

}

#header .in span{
	display:block;
	font-weight: none;
	text-transform:uppercase;
	font-size:50px;
}


#menu {
	height:50px;
	margin-top:-25px;
	margin-bottom:-25px;
	z-index:20;
}

#menu .in ul li{
	float:left;
	width:150px;
	border-top: 50px;
	list-style-type: none;
	
}

#menu .in ul li a {
	display:block;
	width:100%;
	height:100%;
	background-color: #ff9900;
	border-top:1px #ffbb44;
	border-bottom: 1px #dd8800;
	color:#222211;
	text-transform:uppercase;
	font-style:none;
	text-align:center;
	line-height: 50px;
	border-top:solid;
	text-decoration: none;
}

#menu .in ul li a:hover
{
	background-color: #ffbb44 ;
}

#headline{
	background-position : center top;
	background-image:url("tiger-d.jpg");
	background-position : center top;
	background-repeat: no-repeat;
}

#headline .in{
	padding-top:340px;
	border-bottom:100px;
}

#headline ol li{
	background-color: #d9d4be;
	padding:10px;
}

#headline #petition{
	background-color:#e6e4d8;
	}

#headline #share{
	margin-top:10px;
	}

#headline .in a{
	display: block;
	height: 20px,
	width:auto;
	padding:5px;
	margin-top:10px;
	margin-right: 20px;
	margin-bottom:10px;
	margin-left:0px;
	background-color: #ff9900;
	color:white;
	text-align: center;
	text-decoration:none;
	text-transform: uppercase;
	font-size:18px;
	line-height: 20px;
	box-shadow: -3px 3px 0px #bbbbbb;
	font-weight: normal ;
}


#headline .in h1{
	color:#ff9900;
	padding-right: 340px;
	display:block ;
}

#headline p{
	font-size:16px;
	line-height: 30px;
	padding-right: 340px;
}

#headline ol{
	list-style-type: none ;
	position:absolute;
	right: 0px;
	top: 100px;
	width: 270px;	
}

#headline li{
	background-color: #d9d4be;
	padding:10px;
}


#headline #petition  p {
	color: #222211 ;
	padding : 0px ;
	font-size: 14px;
	line-height: 20px;
}
#headline #donation p {
	color : #222211 ;
	padding : 0px ;
	font-size: 14px;
	line-height: 20px;	
}
#headline  h2 {
	color:#222211;
	padding: 5px 5px 5px 35px;
}


#headline #donation a {
	background-color:#ff5400
	}
#headline #share .facebook a {
	background-color:#3b5998;
}
#headline #share .twitter a{
	background-color: #1783ff;
}

#headline #petition a:hover {                         
	background-color:  #ffbb44 ;
}

#headline #donation a:hover {
	background-color: #ffbb44;
}

#headline #share a:hover {
	background-color:#ffbb44;
}

#headline li#petition::before{
content:"1";
display:block;
height:20px;
width:20px;
padding:5px;
margin:0px;
background-color:#ff9900;
color:white;
text-align:center;
text-decoration:none;
text-transform:uppercase;
font-size:18px;
line-height:20px;
box-shadow: -3px 3px 0px #bbbbbb;
position:absolute;
}

#headline li#donation::before{
content:"2";
display:block;
height:20px;
width:20px;
padding:5px;
margin:0px;
background-color:#ff9900;
color:white;
text-align:center;
text-decoration:none;
text-transform:uppercase;
font-size:18px;
line-height:20px;
box-shadow: -3px 3px 0px #bbbbbb;
position:absolute;
}

#headline li#share::before{
content:"3";
display:block;
height:20px;
width:20px;
padding:5px;
margin:0px;
background-color:#ff9900;
color:white;
text-align:center;
text-decoration:none;
text-transform:uppercase;
font-size:18px;
line-height:20px;
box-shadow: -3px 3px 0px #bbbbbb;
position:absolute;
}

#headline li#donation a::after{
content:" →";
}


#feature {
	height: 220px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
}
#feature .in ul li {
	height: 160px;
	width: 280px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	background: url("tiger-pencil.jpg") center repeat;
	background-size: cover;
}
#feature li a::after {
	content: ">";
}
#feature .in ul li a {
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	padding: 10px;
	background-color: #ff9900;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: -10px;
	height: 20px;
	width: auto;
	display: block;
	line-height: 20px;
}

#news{
	background-color: #1e1912;
	padding-top: 20px;
	padding-bottom: 20px;
}

#news li{
	border-top: solid 1px #2f271c;
	padding-top: 20px;
	padding-bottom: 20px;
}

#footer{
	padding-top: 20px;
	padding-bottom: 40px;
}

#footer li{
	display: inline;
}


#footer a{
	font-size: 12px;
}

#footer li::before{
	content:"|";
}

#footer li:first-child::before{
	content:"";
}

#footer a:hover{
	text-decoration: none;
}

/* CONTENT */


#headline1{
	background-position : center top;
	background-image:url("tiger-d.jpg");
	background-position : center top;
	background-repeat: no-repeat;
}

#headline1 .in{
	padding-top:340px;
	border-bottom:100px;
}

#headline1 ol li{
	background-color: #d9d4be;
	padding:10px;
}

#headline1 #petition{
	background-color:#e6e4d8;
	}

#headline1 #share{
	margin-top:10px;
	}

#headline1 .in a{
	display: block;
	height: 20px,
	width:auto;
	padding:5px;
	margin-top:10px;
	margin-right: 20px;
	margin-bottom:10px;
	margin-left:0px;
	background-color: #ff9900;
	color:white;
	text-align: center;
	text-decoration:none;
	text-transform: uppercase;
	font-size:18px;
	line-height: 20px;
	box-shadow: -3px 3px 0px #bbbbbb;
	font-weight: normal ;
}


#headline1 .in h1{
	color:#ff9900;
	padding-right: 340px;
	display:block ;
}

#headline1 p{
	font-size:16px;
	line-height: 30px;
	padding-right: 340px;
}

#headline1 ol{
	list-style-type: none ;
	right: 0px;
	top: 100px;
	width: 270px;	
}

#headline1 li{
	background-color: #d9d4be;
	padding:10px;
}


#headline1 #petition  p {
	color: #222211 ;
	padding : 0px ;
	font-size: 14px;
	line-height: 20px;
}
#headline1 #donation p {
	color : #222211 ;
	padding : 0px ;
	font-size: 14px;
	line-height: 20px;	
}
#headline1  h2 {
	color:#222211;
	padding: 5px 5px 5px 35px;
}


#headline1 #donation a {
	background-color:#ff5400
	}
#headline1 #share .facebook a {
	background-color:#3b5998;
}
#headline1 #share .twitter a{
	background-color: #1783ff;
}

#headline1 #petition a:hover {                         
	background-color:  #ffbb44 ;
}

#headline1 #donation a:hover {
	background-color: #ffbb44;
}

#headline1 #share a:hover {
	background-color:#ffbb44;
}

#headline1 li#petition::before{
content:"1";
display:block;
height:20px;
width:20px;
padding:5px;
margin:0px;
background-color:#ff9900;
color:white;
text-align:center;
text-decoration:none;
text-transform:uppercase;
font-size:18px;
line-height:20px;
box-shadow: -3px 3px 0px #bbbbbb;
position:absolute;

}

#headline1 li#donation::before{
content:"2";
display:block;
height:20px;
width:20px;
padding:5px;
margin:0px;
background-color:#ff9900;
color:white;
text-align:center;
text-decoration:none;
text-transform:uppercase;
font-size:18px;
line-height:20px;
box-shadow: -3px 3px 0px #bbbbbb;
position:absolute;
}

#headline1 li#share::before{
content:"3";
display:block;
height:20px;
width:20px;
padding:5px;
margin:0px;
background-color:#ff9900;
color:white;
text-align:center;
text-decoration:none;
text-transform:uppercase;
font-size:18px;
line-height:20px;
box-shadow: -3px 3px 0px #bbbbbb;
position:absolute;
}

#headline1 li#donation a::after{
content:" →";
}


/* MOBILE */

@media only screen
 and (min-device-width : 320px)
 and (max-device-width : 480px) {
 /* Règles CSS d’adaptation */
 	.in {
 		width:100%;
 	}

 	#header .in{
	background-image:url("www-m.jpg");
	}

	#header .in a{
	font-size:11px;
	}

	#header .in span{
		padding-top: 20px;
		font-size:26px;
	}

	#menu {
		height:auto;
		margin-top:0;
		margin-bottom:0;
		}

	#menu .in ul li{
		width:100%;
		height:40px;
		}

	#menu .in ul li a {
	line-height: 40px;
	border:0px;
	}

	#headline{
	background-image: none;
	padding-bottom:0;
	}

	#headline .in h1{
	font-size:20px;
	margin:20px;
	width:100%;
	border-top:0px;
	}

	#headline ol{
	position:relative;
	top: 0px;
	width:100%;
	}

	#headline li #share {
		margin-top:none;
	}

	#feature{
		display:none;
	}

	#news{
		display:none;
	}

	#footer li{
	margin-left:20px;
	margin-right:20px;
	}

	#headline p{
		
		margin:20px;
		padding-right: 0px;
		}

	#headline .in{
		padding-top:0;
	}
	
	*{
		overflow-x: hidden;
	}	

	#headline #share {
    margin-top: 0px; 
	}
 }
