h1 { color: blue; }

#cadre {
	width: 500px;
	height: 300px;
	border: 4px black solid;
	background-color: silver;
	position: fixed;
	top: 75px;
	left: 75px;
}

#balle {
	position: absolute;
	width: 100px;
	height: 100px;
}

.mobile { background-color: green;border-radius: 100px; }

.immobile {
	background-color: yellow;
	border: 8px black dashed;
}
